<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.seu.server.mapper.MenuRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="edu.seu.server.pojo.MenuRole">
        <id column="id" property="id"/>
        <result column="mid" property="mid"/>
        <result column="rid" property="rid"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, mid, rid
    </sql>

    <!-- 批量添加记录 -->
    <insert id="insertBatch">
        INSERT INTO t_menu_role(mid, rid)
        VALUES
        <foreach collection="mIds" item="mId" separator=",">
            (#{mId}, #{rid})
        </foreach>
    </insert>
    <!-- 根据rid，mid为角色添加菜单 -->
    <select id="addMenuRole" statementType="CALLABLE" parameterType="java.util.Map">
        {call addMenuRole(#{rid,mode=IN,jdbcType=INTEGER},
                          #{mid,mode=IN,jdbcType=INTEGER},
                          #{result,mode=OUT,jdbcType=INTEGER})}
    </select>
    <!-- 根据rid,mid为角色删除菜单 -->
    <select id="deleteMenuRole" statementType="CALLABLE" parameterType="java.util.Map">
        {call deleteMenuRole(#{rid,mode=IN,jdbcType=INTEGER},
                          #{mid,mode=IN,jdbcType=INTEGER},
                          #{result,mode=OUT,jdbcType=INTEGER})}
    </select>
</mapper>
